#widgetDiv
{
}

#tabela.th, #tabela.tr, #tabela.td, #tabela {
    border-collapse: separate;
    border-spacing: 0;

}

#tabela {
    border: 1px solid black;
}

#tabela th
{
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid black;
}
.td-odd {
    background: none repeat scroll 0 0 #ffffff;
    /*border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    background-color: lightgrey;
    padding: 5px 5px 5px 5px;*/
}

.td-even
{
    background: none repeat scroll 0 0 #00CCFF;
    /*border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    padding: 5px 5px 5px 5px;*/
}

label
{
    text-align:right;
    width: 120px;
    float: left;
    font-weight: bold;
    padding: 3px 3px 0px 0px;
    font-size: medium;
    font-weight: normal;
}


input[type="text"]
{
    margin: 2px 2px 2px 2px;
    width: 120px;
    background-color: #EFEFEF;
    border-style: ridge;
   -webkit-border-radius: 4;
   -moz-border-radius: 4;
    border-radius: 4px;
}

input[type="button"]{
   color: #000000;
   background-color: #EFEFEF;
   font-size: 13px;
   padding: 3px 3px 3px 3px;
   -webkit-border-radius: 5;
   -moz-border-radius: 5;
    border-radius: 5px;

}

button
{
   color: #000000;
   background-color: #EFEFEF;
   font-size: 13px;
   padding: 3px 3px 3px 3px;
   -webkit-border-radius: 5;
   -moz-border-radius: 5;
    border-radius: 5px;

}




a, a:visited, a:link, a:hover
{
    color: black;
    text-decoration: none;
    font-weight:500;
}

a.tooltip {
    outline: none;
    text-decoration: none;
    color: black;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #FFFFFF;
}

a.tooltip span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}